{% extends "users/home.html" %}
{% block content %}
<style>
    .form-box {
        width: 380px;
        height: 300px;
        position: relative;
        margin: 15% auto;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5px;
        z-index: 2;
    }
</style>


<div class="form-box">

    <form method="POST" class="input-group" action="{% url 'password_reset_complete' %}">
        {% csrf_token %}

        <h3>New Password:</h3>
        <div class="form-input">{{form.new_password1}}</div>
        <h3>Confirm New Password:</h3>
        <div class="form-input">{{form.new_password2}}</div>



        <div>
            <button class="submit-btn" type="submit">Reset Password</button>
        </div>
    </form>

</div>

{% endblock content %}