{% extends "users/home.html" %}
{% block content %}
<style>
    .form-box {
        width: 380px;
        height: 100px;
        position: relative;
        margin: 15% auto;
        background-color: rgba(255, 255, 255, 0.7);
        padding: 5px;
        z-index: 2;
    }

    h3 {
        padding-left: 45px;
        z-index: 2;
    }

    .submit-btn {
        z-index: 2;
    }
</style>

<div class="form-box">
    <h3>your password has been reset </h3>
    <div>
        <button type="submit" class="submit-btn">Sign In Here</button>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {


        var toggleButton2 = document.querySelector(".submit-btn");
        toggleButton2.addEventListener("click", function (event) {

            window.location.href = "http://127.0.0.1:8000/login/";
        });
    });

</script>


{% endblock content %}