{% extends "game/homee.html" %}
{% load static %}
{% block content %}
<div class="header">
    <a href="#" class="logo">Funny Games</a>
    <div class="navbar">
      <a href="{% url 'index' %}">Home</a>
      <a href="#" id="backToGame">Back</a>
     
      <a href="{% url 'logout' %}">Log out</a>
      <a href="{% url 'myprofile' %}">Profile</a>
    </div>
  </div>
<div class="form-box"><h1>About {{ game.name }}</h1>
    <br>
    <p style="font-weight: bold;">{{ game.description }}</p>
    <!-- Add other content as needed --></div>

    <script>
      document.getElementById("backToGame").addEventListener("click", function (event) {
      event.preventDefault(); // Prevent the default behavior of the anchor tag (which is navigating to "#").
      history.back(); // Go back in the browser history.
      });

  </script>  

{% endblock content %}